* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 245, 235);
  font-family: "Times New Roman", Times, serif, sans-serif;
  font-size: 16px;
  color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_signup,
.form_login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 40%;
  padding: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10%;
  box-shadow: 10px 10px rgb(128, 128, 128);
}
label {
  width: 200px;
  font-weight: 700;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgb(128, 128, 128);
  background: none;
}
input:focus {
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgb(128, 128, 128);
}
::placeholder {
  color: rgb(128, 128, 128);
  opacity: 0.5;
}
.form_group {
  margin: 15px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_group button {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background: rgb(0, 255, 255);
  color: rgb(128, 128, 128);
  font-weight: 500;
  font-size: 20px;
  margin-left: 10px;
}
.input-group {
  width: 100%;
  display: block;
}
.error {
  color: red;
  font-style: italic;
  font-size: 0.8em;
  margin: 5px 0;
  display: none;
}
